@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.LoginContainer {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: initial;
    justify-content: center;
}

.LoginContainer strong {
    color: var(--white);
}

.LoginContainer p {
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
    color: var(--white);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.logo strong {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    margin-left: 1rem;
    line-height: 1.4;
}

.logo span {
    color: var(--green);
}

.LoginContainer p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
}

.msg {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 2rem 0;
    filter: brightness(0.9);
}

.msg strong {
    margin-left: 1.5rem;
}

.inputContainer {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
}

.inputContainer input {
    color: var(--white);
    background: linear-gradient(to right, var(--blue-dark), var(--blue));
    padding: 1rem;
    border: 0;
    border-radius: 5px 0 0 5px;
}

.inputContainer input::placeholder {
    color: var(--gray-line);
    filter: brightness(0.9);
}

.inputContainer button {
    width: 4rem;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: var(--blue-dark);
    transition: linear 0.2s;
}
.inputContainer button:hover {
    background: var(--green);
}

@media(max-width: 600px) {
    .LoginContainer {
        align-items: center;
    }
    .inputContainer {
       width: auto;
    }
}

@media(max-width: 280px){
    .inputContainer {
        height: 40px;
    }
    .inputContainer button {
        width: 32px;
    }
    .inputContainer button img {
        width: 14px;
        height: 14px;
    }
}